In [24]:
######################
## IMPORTING LIBRARIES
######################
import pandas as pd 
import numpy as np
import datetime
from pandas_datareader import data as pdr

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objs as go
%matplotlib inline

# # Imports in order to be able to use Plotly offline.
# from plotly import __version__
# from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# print(__version__) # requires version >= 1.9.0
# init_notebook_mode(connected=True)

# import fix_yahoo_finance as yf
# yf.pdr_override()

In [25]:
start_sp = datetime.datetime(2009, 10, 1)
end_sp = datetime.datetime(2019, 10, 1)

In [26]:
stock_list = ['GOOG','FB', 'AAPL', 'AMZ', 'MSFT']
close_price = {}

for stock in stock_list:
    close=[]
    result = pdr.get_data_yahoo(stock,start_sp, end_sp)['Close']
    close.append(result)
    close_price[stock] = close

print(close_price)

{'GOOG': [Date
2009-10-01     242.690338
2009-10-02     241.385223
2009-10-05     243.347870
2009-10-06     248.438797
2009-10-07     257.803680
2009-10-08     256.129974
2009-10-09     257.161102
2009-10-12     261.041565
2009-10-13     262.072693
2009-10-14     266.660492
2009-10-15     263.965607
2009-10-16     273.898376
2009-10-19     275.014191
2009-10-20     274.829865
2009-10-21     274.521027
2009-10-22     276.010437
2009-10-23     275.811188
2009-10-26     276.070221
2009-10-27     273.121277
2009-10-28     269.141205
2009-10-29     274.496124
2009-10-30     267.058990
2009-11-02     265.997986
2009-11-03     267.641815
2009-11-04     269.156128
2009-11-05     273.300598
2009-11-06     274.521027
2009-11-09     280.204712
2009-11-10     282.321777
2009-11-11     284.214691
                 ...
2019-08-21    1191.250000
2019-08-22    1189.530029
2019-08-23    1151.290039
2019-08-26    1168.890015
2019-08-27    1167.839966
2019-08-28    1171.020020
2019-08-29    1192.849976
2019-08-30    1188.099976
2019-09-03    1168.390015
2019-09-04    1181.410034
2019-09-05    1211.380005
2019-09-06    1204.930054
2019-09-09    1204.410034
2019-09-10    1206.000000
2019-09-11    1220.170044
2019-09-12    1234.250000
2019-09-13    1239.560059
2019-09-16    1231.300049
2019-09-17    1229.150024
2019-09-18    1232.410034
2019-09-19    1238.709961
2019-09-20    1229.930054
2019-09-23    1234.030029
2019-09-24    1218.760010
2019-09-25    1246.520020
2019-09-26    1241.390015
2019-09-27    1225.089966
2019-09-30    1219.000000
2019-10-01    1205.099976
2019-10-02    1176.630005
Name: Close, Length: 2518, dtype: float64], 'FB': [Date
2012-05-18     38.230000
2012-05-21     34.029999
2012-05-22     31.000000
2012-05-23     32.000000
2012-05-24     33.029999
2012-05-25     31.910000
2012-05-29     28.840000
2012-05-30     28.190001
2012-05-31     29.600000
2012-06-01     27.719999
2012-06-04     26.900000
2012-06-05     25.870001
2012-06-06     26.809999
2012-06-07     26.309999
2012-06-08     27.100000
2012-06-11     27.010000
2012-06-12     27.400000
2012-06-13     27.270000
2012-06-14     28.290001
2012-06-15     30.010000
2012-06-18     31.410000
2012-06-19     31.910000
2012-06-20     31.600000
2012-06-21     31.840000
2012-06-22     33.049999
2012-06-25     32.060001
2012-06-26     33.099998
2012-06-27     32.230000
2012-06-28     31.360001
2012-06-29     31.100000
                 ...
2019-08-21    183.550003
2019-08-22    182.039993
2019-08-23    177.750000
2019-08-26    180.360001
2019-08-27    181.300003
2019-08-28    181.759995
2019-08-29    185.570007
2019-08-30    185.669998
2019-09-03    182.389999
2019-09-04    187.139999
2019-09-05    190.899994
2019-09-06    187.490005
2019-09-09    188.759995
2019-09-10    186.169998
2019-09-11    188.490005
2019-09-12    187.470001
2019-09-13    187.190002
2019-09-16    186.220001
2019-09-17    188.080002
2019-09-18    188.139999
2019-09-19    190.139999
2019-09-20    189.929993
2019-09-23    186.820007
2019-09-24    181.279999
2019-09-25    182.800003
2019-09-26    180.110001
2019-09-27    177.100006
2019-09-30    178.080002
2019-10-01    175.809998
2019-10-02    174.600006
Name: Close, Length: 1855, dtype: float64], 'AAPL': [Date
2009-10-01     25.837143
2009-10-02     26.414286
2009-10-05     26.574286
2009-10-06     27.144285
2009-10-07     27.178572
2009-10-08     27.038572
2009-10-09     27.209999
2009-10-12     27.258572
2009-10-13     27.145714
2009-10-14     27.327143
2009-10-15     27.222857
2009-10-16     26.864286
2009-10-19     27.122858
2009-10-20     28.394285
2009-10-21     29.274286
2009-10-22     29.314285
2009-10-23     29.134285
2009-10-26     28.925714
2009-10-27     28.195715
2009-10-28     27.485714
2009-10-29     28.049999
2009-10-30     26.928572
2009-11-02     27.044285
2009-11-03     26.964285
2009-11-04     27.258572
2009-11-05     27.718571
2009-11-06     27.762857
2009-11-09     28.780001
2009-11-10     28.997143
2009-11-11     29.035715
                 ...
2019-08-21    212.639999
2019-08-22    212.460007
2019-08-23    202.639999
2019-08-26    206.490005
2019-08-27    204.160004
2019-08-28    205.529999
2019-08-29    209.009995
2019-08-30    208.740005
2019-09-03    205.699997
2019-09-04    209.190002
2019-09-05    213.279999
2019-09-06    213.259995
2019-09-09    214.169998
2019-09-10    216.699997
2019-09-11    223.589996
2019-09-12    223.089996
2019-09-13    218.750000
2019-09-16    219.899994
2019-09-17    220.699997
2019-09-18    222.770004
2019-09-19    220.960007
2019-09-20    217.729996
2019-09-23    218.720001
2019-09-24    217.679993
2019-09-25    221.029999
2019-09-26    219.889999
2019-09-27    218.820007
2019-09-30    223.970001
2019-10-01    224.589996
2019-10-02    218.960007
Name: Close, Length: 2518, dtype: float64], 'AMZ': [Date
2009-11-13      87.661003
2009-11-16      89.610001
2009-11-17      87.500000
2009-11-18      87.050003
2009-11-19      86.500000
2009-11-20      86.660004
2009-11-23      88.459999
2009-11-24      89.059998
2009-11-25      87.949997
2009-11-27      88.660004
2009-11-30      89.070000
2009-12-01      91.739998
2009-12-02      94.309998
2009-12-03      96.660004
2009-12-04      93.930000
2009-12-07      92.709999
2009-12-08      90.830002
2009-12-09      88.769997
2009-12-10      88.629997
2009-12-11      91.699997
2009-12-14      90.000000
2009-12-15      91.000000
2009-12-16      89.220001
2009-12-17      89.680000
2009-12-18      88.220001
2009-12-21      92.550003
2009-12-22      94.940002
2009-12-23      95.519997
2009-12-24      95.519997
2009-12-28      98.300003
                 ...
2017-12-21     974.900024
2017-12-22     974.900024
2017-12-26     974.900024
2017-12-27     974.900024
2017-12-28     974.900024
2017-12-29     974.900024
2018-01-02     974.900024
2018-01-03     998.000000
2018-01-04    1002.000000
2018-01-05    1012.000000
2018-01-08    1042.000000
2018-01-09    1044.000000
2018-01-10    1044.000000
2018-01-11    1044.000000
2018-01-12    1074.000000
2018-01-16    1086.000000
2018-01-17    1056.000000
2018-01-18    1064.000000
2018-01-19    1060.000000
2018-01-22    1074.000000
2018-01-23    1102.000000
2018-01-24    1094.000000
2018-01-25    1096.000000
2018-01-26    1124.000000
2018-01-29    1148.000000
2018-01-30    1149.060059
2018-05-22       1.420000
2018-05-23       1.410000
2018-05-24       1.430000
2018-05-25       1.330000
Name: Close, Length: 1750, dtype: float64], 'MSFT': [Date
2009-10-01     24.879999
2009-10-02     24.959999
2009-10-05     24.639999
2009-10-06     25.110001
2009-10-07     25.100000
2009-10-08     25.670000
2009-10-09     25.549999
2009-10-12     25.719999
2009-10-13     25.809999
2009-10-14     25.959999
2009-10-15     26.709999
2009-10-16     26.500000
2009-10-19     26.360001
2009-10-20     26.370001
2009-10-21     26.580000
2009-10-22     26.590000
2009-10-23     28.020000
2009-10-26     28.680000
2009-10-27     28.590000
2009-10-28     28.020000
2009-10-29     28.219999
2009-10-30     27.730000
2009-11-02     27.879999
2009-11-03     27.530001
2009-11-04     28.059999
2009-11-05     28.469999
2009-11-06     28.520000
2009-11-09     28.990000
2009-11-10     29.010000
2009-11-11     29.120001
                 ...
2019-08-21    138.789993
2019-08-22    137.779999
2019-08-23    133.389999
2019-08-26    135.449997
2019-08-27    135.740005
2019-08-28    135.559998
2019-08-29    138.119995
2019-08-30    137.860001
2019-09-03    136.039993
2019-09-04    137.630005
2019-09-05    140.050003
2019-09-06    139.100006
2019-09-09    137.520004
2019-09-10    136.080002
2019-09-11    136.119995
2019-09-12    137.520004
2019-09-13    137.320007
2019-09-16    136.330002
2019-09-17    137.389999
2019-09-18    138.520004
2019-09-19    141.070007
2019-09-20    139.440002
2019-09-23    139.139999
2019-09-24    137.380005
2019-09-25    139.360001
2019-09-26    139.539993
2019-09-27    137.729996
2019-09-30    139.029999
2019-10-01    137.070007
2019-10-02    134.649994
Name: Close, Length: 2518, dtype: float64]}

In [35]:
goog = pd.DataFrame(close_price['GOOG']).T
goog.head()

                 Close
Date
2009-10-01  242.690338
2009-10-02  241.385223
2009-10-05  243.347870
2009-10-06  248.438797
2009-10-07  257.803680