In [6]:
import bs4 as bs
import pickle
import requests
import pandas as pd

#def save_sp500_tickers():
resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})
tickers = []
for row in table.findAll('tr')[1:]:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

with open("sp500tickers.pickle","wb") as f:
    pickle.dump(tickers,f)

tickers
type(tickers)
tickers[2]
#save_sp500_tickers()

'ABBV\n'

In [16]:


save_sp500_tickers ['0']= save_sp500_tickers['0'].str.replace('\n', '')
save_sp500_tickers['0']

AttributeError: 'function' object has no attribute 'str'

In [8]:
sp500=pd.DataFrame(save_sp500_tickers())
sp500.head()

        0
0   MMM\n
1   ABT\n
2  ABBV\n
3  ABMD\n
4   ACN\n

In [20]:
start = dt.datetime(2010, 1, 1)
    end = dt.datetime.now()
    for ticker in tickers:
        # just in case your connection breaks, we'd like to save our progress!
        if not os.path.exists('stock_dfs/{}.csv'.format(ticker)):
            df = web.DataReader(ticker, 'morningstar', start, end)
            df.reset_index(inplace=True)
            df.set_index("Date", inplace=True)
            df = df.drop("Symbol", axis=1)
            df.to_csv('stock_dfs/{}.csv'.format(ticker))
        else:
            print('Already have {}'.format(ticker))

IndentationError: unexpected indent (<ipython-input-20-0f27e93fd7f7>, line 2)