In [36]:
######################
## IMPORTING LIBRARIES
######################
import pandas as pd 
import numpy as np
import datetime
from pandas_datareader import data as pdr

import matplotlib.pyplot as plt
import plotly.graph_objs as go
%matplotlib inline

# # Imports in order to be able to use Plotly offline.
# from plotly import __version__
# from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
# print(__version__) # requires version >= 1.9.0
# init_notebook_mode(connected=True)

# import fix_yahoo_finance as yf
# yf.pdr_override()

In [43]:
start_sp = datetime.datetime(2001, 6, 1)
end_sp = datetime.datetime(2019, 9, 1)

In [45]:
sp500 = pdr.get_data_yahoo('GOOG', 
                           start_sp,
                             end_sp)
sp500.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735
2004-08-24  55.591629  51.591621  55.412300  52.239193  15319700.0  52.239193
2004-08-25  53.798351  51.746044  52.284027  52.802086   9232100.0  52.802086